					<div class="container_left">
				<ul class="ce">
					<li>
						<a class="xz" href="#">机构信息<img class="more" src="__SADMIN__img/icon_01.png" /></a>
						<ul class="er">
							<li>
								<a href="/sadmin/User/index.html">账户总览</a>
							</li>
							<li class="e_li">
								<a href="/sadmin/Recharge/index.html">订单查询</a>
							</li>
							<li>
								<a href="/sadmin/Withdrawal/index.html">提现查询</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">收款账户管理 <img class="more" src="__SADMIN__img/icon_02.png" /></a>
						<ul class="er">
							<li>
								<a href="##">二级目录</a>
							</li>
							<li class="e_li">
								<a href="##">二级目录</a>
							</li>
							<li>
								<a href="##">二级目录</a>
							</li>
						</ul>
					</li>
<?php
if($login_user['state']==100){
?>

							<li>
						<a href="#">管理员功能<img class="more" src="__SADMIN__img/icon_03.png" /></a>
						<ul class="er">
							<li>
								<a href="##">三级目录</a>
							</li>
							<li class="e_li">
								<a href="##">三级目录</a>
							</li>
							<li>
								<a href="##">三级目录</a>
							</li>
						</ul>
					</li>
<?php
}
?>


					<div class="clear"></div>
				</ul>
			</div>