<!DOCTYPE HTML>
<html>
<head>
<title>login</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <link href="/static/magent/css/style.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body style="background: url('/static/magent/img/login-bg.jpg') no-repeat;background-size: 100%">
<!--header start here-->
<div class="login-form">
	<div class="login-code">
		<img src="/static/magent/img/download-code.png" style="width: 200px;"/>
	</div>
</div>
</body>
</html>
