
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>管理中心</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__SADMIN__/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        .layui-form-label {width:150px;padding:4px}
  
    </style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated">
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <!--用户信息-->
                <form class="layui-form" action="" autocomplete="off" id="profile">


                    <div class="layui-form-item">
                        <label class="layui-form-label">通道名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="channel_name" lay-verify="required" autocomplete="off" placeholder="通道名称" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">展示给下游名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="show_name" lay-verify="required" placeholder="展示给下游名称" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">通道编码：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="code" lay-verify="required" placeholder="通道编码" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">成本费率：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="fee" lay-verify="required" placeholder="0.001表示千一" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商户号：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="mch_id" lay-verify="required" placeholder="商户号" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">商户私钥：</label>
                        <div class="layui-input-inline">
                          <textarea name="private_key" placeholder="请输入私钥" lay-verify="required" class="layui-textarea"></textarea>
                        </div>
                      </div>
                      <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">商户公钥：</label>
                        <div class="layui-input-inline">
                          <textarea name="public_key" placeholder="请输入公钥" class="layui-textarea"></textarea>
                        </div>
                      </div>
                        


                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="profile">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
     </form>
                <!--用户信息-->
            </div>
        </div>
    </div>
</div>
</div>

<script src="/static/layui/layui.js" charset="utf-8"></script>

<script>
layui.use(['layer', 'form'], function() {
    var layer = layui.layer //弹层
        ,form = layui.form //弹层
        ,$=layui.jquery; //元素操作
    //日期

    form.on('submit(profile)', function(data){
        $.ajax({
            url:'{:url("sadmin/channel/add_channel")}',
            type:"post",
            data:$('#profile').serialize(),
            success:function(res){
                if(res.code == '0000'){
                    layer.alert(res.msg, {icon: 1},function () {
                        location.reload();
                    });
                }else{
                    layer.alert(res.msg, {icon: 5});
                }
            }
        });
        return false;
    });
 });
</script>
</body>
</html>