<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>云易支付-商户登录</title>
		<link rel="stylesheet" href="__INDEX__css/bootstrap.min.css" />
		<link rel="stylesheet" href="__INDEX__css/header.css" />
	
		<script src="__PUBLIC__/jq/jQuery1.9.1.js"></script>
		<script src="__PUBLIC__/jq/public_fun.js"></script>
		<script type="text/javascript" src="__PUBLIC__layer-v3.1.0/layer/layer.js"></script>

	</head>
	<body>
		<div class="header">
			<div class="logo col-lg-4 col-md-4 col-sm-4">
				<a href="/Index/index"><img src="__INDEX__img/logo2.png"></a>
			</div>
			<div class="header_right col-lg-8 col-md-8 col-sm-8">
				<p>用户登录/注册</p>
				<div class="login_left"><a href="/index/Login/login.html">登录</a></div>
				
				<div class="login_left"><a href="/index/Registered/register.html">注册</a></div>
			</div>
		</div>
		
	</body>

</html>