<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="__ADMIN__css/shop.css" type="text/css" rel="stylesheet"/>
    <link href="__ADMIN__css/Sellerber.css" type="text/css" rel="stylesheet"/>
    <link href="__ADMIN__css/bkg_ui.css" type="text/css" rel="stylesheet"/>
    <link href="__ADMIN__font/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <script src="__ADMIN__js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="__ADMIN__js/Sellerber.js" type="text/javascript"></script>
    <script src="__ADMIN__js/jquery.dataTables.min.js"></script>
    <script src="__ADMIN__js/jquery.dataTables.bootstrap.js"></script>
    <script src="__ADMIN__js/layer/layer.js" type="text/javascript"></script>
    <script src="__ADMIN__js/laydate/laydate.js" type="text/javascript"></script>
    <script src="__ADMIN__js/hsCheckData.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="__ADMIN__js/html5shiv.js" type="text/javascript"></script>
    <script src="__ADMIN__js/respond.min.js"></script>
    <script src="__ADMIN__js/css3-mediaqueries.js" type="text/javascript"></script>
    <![endif]-->
    <title>修改登录密码</title>
</head>

<body>
<div class="margin inside_pages clearfix">
    <div class="add_style clearfix relative">
        <form method="post" action="/admin/User/update_pass">
            <ul>
                <li style="width:370px" class="clearfix"><label style="width:100px" class="label_name col-xs-1">手机号：</label>
                    <div style="width:270px" class="Add_content col-xs-11"><input type="text" value="{$login_user.phone_num}" name="phone"  class="col-xs-12" disabled="disabled"/>
                    </div>
                </li>
                <li style="width:370px" class="clearfix"><label style="width:100px" class="label_name col-xs-1">手机验证码：</label>
                    <div style="width:270px" class="Add_content col-xs-11">
                        <input type="text" name="code" style="width:170px"  class="col-xs-4 width-2"/>
                        <button id="get_code" type="button" style="width: 100px;margin: 0" class="btn_code button_btn bg-green">接收验证码</button>
                    </div>
                </li>
                <li style="width:370px" class="clearfix"><label style="width:100px" class="label_name col-xs-1">新登陆密码：</label>
                    <div style="width:270px" class="Add_content col-xs-11"><input type="password" placeholder="请输入新登陆密码" name="pass"  class="col-xs-12"/>
                    </div>
                </li>
                <li style="width:370px" class="clearfix"><label style="width:100px" class="label_name col-xs-1">确认密码：</label>
                    <div style="width:270px" class="Add_content col-xs-11"><input type="password" placeholder="请再次输入" name="repeat_pass" class="col-xs-12"/>
                    </div>
                </li>
            </ul>
            <div class="margin-left-20">
                <button class="btn button_btn bg-green" type="submit">保存</button>
                <button class="btn button_btn bg-yellow" type="reset">重置</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
<!--复文本编辑框-->
<script type="text/javascript" charset="utf-8" src="__ADMIN__js/utf8-jsp/ueditor.config.js"></script>
<script type="text/javascript">
	$('#get_code').click(function(){
	  $.ajax({
	    url:'/admin/User/update_pass',
	    dataType:'json',
	    success:function(data){
	      alert(data.hint);
	    }
	  })
})

</script>