<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>云易支付线上管理系统</title>

	<link rel="stylesheet" href="__ADMIN__css/left.css" />
	
	</head>

	<body>
	
		<div class="content_left">
		<div class="nav"><img src="__ADMIN__img/nav.png">导航菜单</div>
		<a href="/admin/User/index.html"><div class="nav_2" id="nav_1_active">
		<img src="__ADMIN__img/avtive2.PNG">机构信息
		</div>
		</a>
		<a href="/admin/Recharge/index.html"><div class="nav_2" id="nav_2_active">
		<img src="__ADMIN__img/nav_2.png">机构订单查询
		</div>
		</a>
		<a href="/admin/Withdrawal/index.html"><div class="nav_2" id="nav_3_active">
		<img src="__ADMIN__img/nav_3.PNG">机构提现查询
		</div>
		</a>

		<a href="/admin/User/linshi_key.html"><div class="nav_2" id="nav_4_active">
		<img src="__ADMIN__img/nav_3.PNG">key
		</div>
		</a>
		
		</div>
		
	</body>
</html>
